#map {
  width: 80%;
  height: 80vh;
  z-index: 0;
  margin: auto;
}
.right-sidebar-container {
  width: 100%;
  height: 50vh;
  z-index: 0;
  margin-bottom: 500px;
}
.leaflet-control-container .leaflet-routing-container {
  display: none;
}
